@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --light-200-color: #FFF;
  --light-400-color: #f5f5f5;
  --light-500-color: #FAF0E6;

  --dark-200-color: #000;
  --dark-400-color: #333;
  --dark-700-color: #3E2723;

  --crimson-color: #B30000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
a {
  color: var(--dark-200-color);
  text-decoration: none;
}

a:hover {
  color: var(--dark-400-color);
}

button {
  border: 1px solid var(--dark-200-color);
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  background: var(--light-200-color);
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
}

input {
  padding: .5rem 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--dark-400-color);
  font-family: inherit;
}

/* Body */
body {
  padding: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.6;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--light-400-color);
  display: grid;
  grid-template-columns: .5fr 75vh .5fr;
  grid-template-rows: 50px 75vh auto;
  grid-template-areas: 
  'header header header'
  'player1 main player2'
  'footer footer footer';
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  position: relative;
  transition: 1s all ease;
}

body > *:not(.menu) {
  min-height: 100%;
}

/* Header */
header {
  grid-area: header;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  grid-area: main;
  position: relative;
  z-index: 1;
}

main .game-container {
  overflow: hidden;
  flex: 1;
  display: grid;
  min-height: 100%;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px var(--dark-200-color);
  border: 10px solid var(--dark-200-color);
  padding: 1rem;
  gap: 5px;
  position: relative;
  background-color: var(--light-500-color);
}

main .game-container::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--dark-200-color);
  filter: blur(10px);
}

main .game-container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--dark-200-color);
  z-index: 1;
  transition: .5s all 0s ease;
  opacity: 0;
  visibility: hidden;
}

main.winner .game-container::after,
main.tie .game-container::after {
  opacity: .75;
  visibility: visible;
  transition: .5s all 2s ease;
}

main > *:not(.game-container) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease 0s;
  color: var(--light-400-color);
  gap: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

main .next-button > * {
  transform: translateX(-100px);
  transition: .35s all ease;
}

main .next-button div {
  transform: translateX(12.5%);
  opacity: 0;
}

main .next-button:hover > * {
  transform: translateX(0);
  opacity: 1;
}

main .next-button.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

main .restart-button .restart-wrapper {
  position: relative;
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .restart-button .restart-wrapper h1 {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  opacity: 0;
  visibility: hidden;
}

body.tie main .restart-button .restart-wrapper h1 {
  opacity: 1;
  visibility: visible;
}

main .restart-button.restart{
  opacity: 1;
  visibility: visible;
  transition: .5s all 2s ease;
}

main.winner .next-button,
main.tie .next-button {
  opacity: 1;
  visibility: visible;
  transition: .5s all ease 2s;
}

main.winner .game-container,
main.tie .game-container {
  pointer-events: none !important;
}

main .game-container > div {
  background: var(--light-500-color);
}

main.winner .game-container > div.highlighted {
  background: var(--dark-400-color);
}

main .game-container > div.highlighted {
  transition: .5s all ease 1s;
}

main.tie .game-container {
  animation: shake .5s ease forwards;
}

main .game-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light-200-color);
  z-index: 1;
}

.marker-wrapper {
  width: 75%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: scaleY(.85);
}

.marker-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scaleY(.85) translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--dark-200-color);
  border-radius: 50%;
  z-index: -1;
}

.marker-wrapper .marker {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-400-color);
  border-radius: 50%;
  transition: .3s all ease;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: start;
  transform: scaleY(.85);
}

.marker-wrapper .marker-1 {
  background: var(--light-200-color);
}

.marker-wrapper .marker-2 {
  background: #8B0000;
}

main .game-container > div.marked .marker-wrapper .marker {
  animation: marked .5s ease forwards;
}

.marker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 20%;
  transition: .3s all ease;
  transform-origin: bottom;
}

.marker-1::before {
  background: var(--dark-200-color);
}

.marker-2::before {
  background: var(--dark-200-color);
}

.marker-2::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120%;
  width: 20%;
  transition: .3s all ease;
  transform-origin: bottom;
  background: var(--dark-200-color)
}

/* Aside Player 1 */
aside.player1-section {
  grid-area: player1;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: 1s all ease 1s;
  position: relative;
}

aside .outcome {
  position: absolute;
  top: 0;
  font-size: 3rem;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: .5s all ease 0s;
}

aside .player-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

aside .player-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: .5rem 1rem;
  border: 1px solid var(--dark-400-color);
  border-radius: 10px;
  padding: 1rem;
  background: var(--light-400-color)
}

aside .player-info .player-marker {
  justify-self: end;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-400-color);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px var(--crimson-color);
}

aside .player-info .marker-wrapper {
  width: 100%;
  height: 100%;
  transform: none;
}

aside .player-info .marker-wrapper:before {
  display: none;
}

aside .player-info .marker {
  transform: scale(1);
}

aside .player-status {
  grid-column: 1 / -1;
  justify-self: start;
}

aside .player-life {
  align-self: flex-start;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

aside .player-life > div {
  width: 25px;
  height: 25px;
  border: 1px solid var(--dark-400-color);
  -webkit-box-shadow: 0px 0px 5px 0px var(--dark-200-color); 
  box-shadow: 0px 0px 5px 0px var(--dark-200-color);
  border-radius: 50%;
  background: var(--crimson-color);
  position: relative;
  transition: .3s all .25s ease;
}

aside .player-life > div.loss {
  background: var(--light-400-color);
  animation: shake .3s ease .2s forwards;
}

aside .player-life > div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 125%;
  width: 2px;
  height: 150%;
  background: var(--dark-200-color);
  transform: translate(-50%, -50%) skew(-45deg) scale(0);
  transform-origin: top;
  transition: .2s all ease;
}

aside .player-life > div.loss::before {
  transform: translate(-50%, -50%) skew(-45deg) scaleY(1);
}

/* Aside Player 2 */
aside.player2-section {
  grid-area: player2;
}

aside.player2-section .player-info .player-marker {
  justify-self: start;
  order: -1;
}

aside.player2-section .player-life {
  align-self: flex-end;
  flex-direction: row;
}

aside.player2-section .player-status {
  justify-self: end;
}

/* Outcome */
body.p1-wins {
  grid-template-columns: 1.5fr 75vh 0.25fr;
}

body.p2-wins {
  grid-template-columns: 0.25fr 75vh 1.5fr;
}

body.p1-wins .player2-section {
  opacity: 0;
  visibility: hidden;
  transition: .35s all ease 0s;
}

body.p2-wins .player1-section {
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease 0s;
}

body.p1-wins aside .outcome,
body.p2-wins aside .outcome {
  opacity: 1;
  visibility: visible;
  transition: .5s all ease 1s;
}

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Menu */
.menu-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  cursor: pointer;
  min-height: min-content !important;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;  
  opacity: 0;
  visibility: hidden;
}

.menu.show {
  opacity: 1;
  visibility: visible;
}

.menu-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-200-color);
}

.menu .menu-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-200-color);
  transition: .3s all ease;
  opacity: .75;
  z-index: -1;
}

.menu-wrapper .menu-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.menu-wrapper .menu-content > * {
  justify-self: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: .5s all ease;
  position: relative;
  transform: translateY(-25%);
  gap: 1rem;
  width: 100px;
  height: 100px;
}

.menu-wrapper .menu-content > div > div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: var(--light-200-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--dark-200-color);
}

.menu-wrapper .menu-content > div > :nth-child(1):hover {
  filter: brightness(.85);
}

.menu-wrapper .menu-content .button-text {
  top: -50%;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
  font-weight: bolder;
  pointer-events: none;
  position: absolute;
}

.menu-wrapper .menu-content > div > :nth-child(1):hover ~ .button-text {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* Menu Settings */
.menu.settings .menu-content > *:not(.settings-button-wrapper) {
  opacity: 0;
  visibility: hidden;
}

.menu.settings .settings-button-wrapper {
  width: 50vw !important;
  height: 50vh !important;
  transition: .5s all 0s ease;
}

.menu.settings .menu-wrapper .menu-content > div > .settings-button {
  border-radius: 2% !important;
  padding: 1rem;
  pointer-events: none;
}

.menu.settings .menu-wrapper .menu-content > div > .settings-button i {
  align-self: flex-start;
}

.menu .settings-content {
  position: absolute;
  z-index: 2;
  color: var(--dark-200-color);
  opacity: 0;
  visibility: hidden;
  transition: .5s all 0s ease;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu.settings .settings-content {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: .5s all ease .5s;
}

.menu .settings-content .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu .settings-content > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu .settings-content .player-status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 1px solid var(--dark-400-color);
  border-radius: 10px;
  overflow: hidden;
}

.menu .settings-content .player-status label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  height: 100%;
  cursor: pointer;
}

.menu .settings-content .player-status input {
  display: none;
}

.menu .settings-content .player-status input:checked ~ label {
  background: var(--crimson-color);
  color: var(--light-200-color);
}

.menu .settings-content .close-settings {
  justify-self: center;
  align-self: end;
  padding: 1rem;
  border: 1px solid var(--dark-400-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  grid-column: 1 / -1;
  border-radius: 50%;
  cursor: pointer;
}

.menu .settings-content .close-settings i {
  transition: .5s all ease;
}

.menu .settings-content .close-settings:hover i {
  transform: translateY(15%);
}

/* Start Menu */
.start {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transition: .5s all 1s ease;
}

.start.hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.start.hide .player-1 {
  animation: start-slide-1 1s ease forwards;
}

.start.hide .player-2 {
  animation: start-slide-2 1s ease forwards;
}

.start-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: var(--light-500-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: .25s all 1s ease;
}

.start.begin .start-wrapper{
  background: transparent;
}

.start-wrapper .start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: var(--dark-200-color);
  color: var(--light-200-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 1rem;
  border: 1px solid var(--dark-400-color);
  box-shadow: 0px 0px 5px 0px var(--dark-400-color);
  cursor: pointer;
  transition: .5s all ease;
  z-index: 3;
  overflow: hidden;
}

.start-wrapper .start-button .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: .5s all ease;
  position: relative;
}

.start-wrapper .start-button .wrapper > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease 1s;
  font-size: 2rem;
}

.start.begin .start-button .wrapper > div {
  opacity: 1;
  visibility: visible;
}

.start-wrapper .start-button:hover .wrapper {
  gap: 0;
}

.start.begin .start-button .wrapper {
  gap: 0;
}

.start .start-button .wrapper i {
  transition: .5s all 1s ease;
}

.start.begin .start-button .wrapper i {
  transform: scale(5);
  opacity: 0;
  visibility: hidden;
}

.start.begin .start-wrapper .start-button {
  transform: translate(-50%, -50%) rotate(180deg);
}

.start-wrapper .player-1,
.start-wrapper .player-2 {
  position: relative;
}

.start-wrapper .player-1::before,
.start-wrapper .player-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-500-color);
  border-right: 2px solid var(--dark-400-color);
  transform-origin: center;
  transform: scaleY(0);
  transition: 1s all ease;
  z-index: -1;
}

.start-wrapper .player-2::before {
  border-left: 2px solid var(--dark-400-color);
  border-right: 0;
}

.start.begin .start-wrapper .player-1::before,
.start.begin .start-wrapper .player-2::before {
  transform: scaleY(1);
}

.start .player-1,
.start .player-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: .5s all .5s ease;
}

.start.begin .player-1,
.start.begin .player-2 {
  opacity: 1;
  visibility: visible;
}

.start .player-1 h1,
.start .player-2 h1 {
  position: absolute;
  top: 15vh;
}

.start .player-1 .status,
.start .player-2 .status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.start .player-1 .status input[type="radio"],
.start .player-2 .status input[type="radio"] {
  display: none;
}

.start .player-1 .status > label,
.start .player-2 .status > label {
  border: 1px solid var(--dark-400-color);
  padding: 2rem 3rem;
  cursor: pointer;
  transition: .5s all ease;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 2rem;
}

.start .player-1 .status > label:hover,
.start .player-2 .status > label:hover {
  background-color: var(--dark-200-color);
  color: var(--light-200-color);
}

.start .player-1.status .status input:checked + label,
.start .player-2.status .status input:checked + label {
  transform: translateY(-100%);
  border: 0;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
}

.start .player-1.status .status input:nth-of-type(2):checked + label,
.start .player-2.status .status input:nth-of-type(2):checked + label {
  transform: translateY(calc(-200% - 1rem));
}

.start .player-1.status .status > label,
.start .player-2.status .status > label {
  opacity: 0;
  visibility: hidden;
}

.marker-select {
  opacity: 0;
  visibility: hidden;
  transition: .25s all 0s ease;
}

.start .input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: .5s all 0s ease;
  pointer-events: none;
}

.player-1.status .input,
.player-2.status .input {
  opacity: 1;
  visibility: visible;
  transition: .5s all .25s ease;
  pointer-events: initial;
}

.start .input input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--dark-200-color);
  border-radius: 0;
  font-size: 1rem;
}

.marker-select {
  opacity: 0;
  visibility: hidden;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  z-index: 2;
  background: var(--light-200-color);
  border-radius: 50px;
  border: 1px solid var(--dark-200-color);
  transition: .5s all ease;
}

.player-1.status .marker-select,
.player-2.status .marker-select {
  opacity: 1;
  visibility: visible;
}

.marker-select .marker-wrapper{
  width: 100px;
  height: 100px;
  transform: scaleY(1);
  cursor: pointer;
}

.marker-select .marker-wrapper:hover .marker {
  box-shadow: 0px 0px 5px 0px var(--dark-400-color);
}

.marker-select .marker-wrapper::before {
  transform: scaleY(1) translate(-50%, -50%);
}

.marker-select .marker-wrapper .marker {
  transform: scaleY(1);
}

.marker-select .marker-wrapper.hide {
  filter: brightness(.25);
}

.start .back-button {
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: .5s all ease;
  opacity: 0;
  visibility: hidden;
}

.start .player-2 .back-button {
  left: 85%;
}

.player-1.status .back-button,
.player-2.status .back-button {
  opacity: 1;
  visibility: visible;
}

.alert {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease;
}

.alert.trigger{
  opacity: 1;
  visibility: visible;
}

.alert .marker-alert {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert .marker-alert::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark-200-color);
  opacity: .5;
  z-index: -1;
}

.alert .marker-alert .marker-alert-wrapper {
  padding: 1rem;
  background: var(--light-400-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.alert .marker-alert .marker-alert-wrapper .close-button {
  cursor: pointer;
  border: 1px solid var(--dark-200-color);
  padding: .5rem;
  border-radius: 10px;
}

@keyframes marked {
  0% {
    transform: scaleY(.85) translateY(0);
  }

  100% {
    transform: scaleY(.85) translateY(-10px);
  }
}

@keyframes highlighted {
  0% {
    transform: translateY(0) scaleY(.85);
  }

  50% {
    transform: translateY(-10px) scaleY(.85);
  }

  100% {
    transform: translateY(0) scaleY(.85);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(8px, -8px);
  }

  20% {
    transform: translate(-6px, 6px);
  }

  30% {
    transform: translate(4px, -4px);
  }

  40% {
    transform: translate(-2px, 2px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(-2px, -2px);
  }

  70% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(-4px, 4px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes start-slide-1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes start-slide-2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}